
<%- include('partials/header') %>
    <main>
         <h1><%= title %></h1>
        <p>Here are a few of our partner organizations:</p>
      <ul>
        <% organizations.forEach(org => { %>
            <li>
                <img src="<%= org.logo_filename %>" alt="<%= org.name %> logo">
                <strong><%= org.name %></strong>
                <p><%= org.contact_email %></p>
            </li>
        <% }) %>
      </ul>
    </main>
    
<%- include('partials/footer') %>
