<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <h2>Upcoming Service Projects</h2>

    <ul>
        <% projects.forEach(project => { %>
            <li>
                <strong>
                    <%= new Date(project.project_date).toLocaleDateString() %>:
                </strong>
                <%= project.name %>
                (<%= project.organization %>)
            </li>
        <% }) %>
    </ul>
</main>

<%- include('partials/footer') %>